html, body, header {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", "Helvetica", sans-serif;
	color: #2e3d49;
}

body, html {
	width: 100%;
	height: 100%;
}

main {
	width: 100%;
}

#main-loader {
	display: block;
	margin: auto;
	margin-top: 10%;
}

.container, .row {
	width: 100%;
}

#nav-container {
	background-color: white;
	border: 1px solid #DBE2E8;
	box-shadow: 0 0 15px 0 rgba(46, 61, 73, 0.15);
}
.nav-item {
	border-bottom: 1px solid white;
	transition: border-bottom .5s;
}
.nav-item h3 {
	color: #2e3d49;
    font-size: 18px;
    font-weight: normal;
}
.nav-item:hover {
	cursor: pointer;
	border-bottom-color: orange;
}

#projects-dropdown {
	opacity: 0;
	position: absolute;
	top: 101%;
	left: 0px;
	transition: opacity .5s;
	width: 100%;
}
#projects-dropdown li {
	border-bottom: 1px solid #DBE2E8;
	list-style: none;
	transition: border-bottom .5s;
	width: 100%;
	margin: auto;
	background-color: white;
}
#projects-dropdown li:hover {
	cursor: pointer;
	border-bottom-color: orange;
}

#projects:hover #projects-dropdown {
	opacity: 1;
}

#nameBanner {
	text-align: center;
	margin-top: 10%;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	border: 1px solid #DBE2E8;
	box-shadow: 0 0 15px 0 rgba(46, 61, 73, 0.15);
}

#contact-modal {
	position: fixed;
	z-index: 9999;
	top: -100%;
	left: 0px;
	width: 100%;
	padding: 20px;
	padding-left: 20%;
	padding-right: 20%;
	color: #afafaf;
	background-color: #2e3d49;
	box-shadow: 0 0 15px 0 rgba(46, 61, 73, 0.15);
}

#dimmer {
	display: none;
	position: fixed;
	z-index: 9998;
	top: 0px;
	left: 0px;
	background-color: black;
	opacity: .5;
	width: 100%;
	height: 100%;
}

#close-contact-btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

#contact-modal h1 {
	margin: 0px;
}
