<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
	<title>Jacob Gornall</title>
	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

	{{ JSGlue.include() }}
</head>
<body style='background-image: url("{{url_for("static", filename="images/b18trxc8upq-artem-sapegin.jpg")}}"); background-size: cover; background-position: center'>
	<header id="nav-container" class="container">
		<nav id="nav-bar" class="row text-center">
			<div id="home" class="col-md-3 nav-item" data-bind="click: Home">
				<h3>Home</h3>
			</div>
			<div id="projects" class="col-md-3 nav-item">
				<h3>Projects</h3>
				<div id="projects-dropdown">
					<ul>
						<li data-bind="click: goToLones">Jacob Lones Website</li>
						<li data-bind="click: goToMap">Neighborhood Map</li>
						<li data-bind="click: goToBlog">Blog Site</li>
					</ul>
				</div>
			</div>
			<div id="contact" class="col-md-3 nav-item" data-bind="click: openContactModal">
				<h3>Contact</h3>
			</div>
			<div id="resume" class="col-md-3 nav-item">
				<h3>Technologies</h3>
			</div>
		</nav>
	</header>

	<img id="main-loader" src="{{url_for('static', filename='images/ajax-loader.gif')}}">

	<main id="main-content">
	</main>

	<!-- Contact Modal -->
	<div id="contact-modal" class="container">
		<h1>Contact</h1>
		<button id="close-contact-btn" class="btn btn-danger btn-xs text-center" data-bind="click: closeContactModal">X</button>
		<img id="loader" src="{{url_for('static', filename='images/ajax-loader.gif')}}" style="display: none">
		<p id="contact-form-msg"></p>
		<form id="contact-form" class="form-group" data-bind="submit: contactFormProcess">
			<label>
				Full Name:
				<input id="full_name" class="form-control" type="text" name="full_name" required>
			</label>
			<br>
			<label>
				Email:
				<input id="email" class="form-control" type="text" name="email" required>
			</label>
			<br>
			<label>
				Message:
				<textarea id="message" class="form-control" form="contact-form" name="message" style="width: 100%" required></textarea>
			</label>
			<br>
			<button type="submit" class="btn btn-lg btn-primary">Submit</button>
		</form>
	</div>

	<div id="dimmer" data-bind="click: closeContactModal"></div>

	<!-- jQuery 3.x -->
	<script
  	src="https://code.jquery.com/jquery-3.1.1.min.js"
  	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  	crossorigin="anonymous"></script>

	<!-- Latest compiled and minified Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Knockout.js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>

	<!-- app.js -->
	<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
</body>
</html>